stepfunctions/pipeline.json
{
  "Comment": "NYC TLC Medallion Pipeline — Bronze → Silver → Gold → Crawlers → Audit → Notify",
  "StartAt": "Start Bronze Job",

  "States": {

    "Start Bronze Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync:2",
      "Parameters": {
        "JobName": "nyc-tlc-bronze-job-dev"
      },
      "ResultPath": "$.bronzeResult",
      "Next": "Bronze Succeeded?",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Bronze Succeeded?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.bronzeResult.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start Silver Job"
        }
      ],
      "Default": "Notify Failure"
    },

    "Start Silver Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync:2",
      "Parameters": {
        "JobName": "nyc-tlc-silver-job-dev"
      },
      "ResultPath": "$.silverResult",
      "Next": "Silver Succeeded?",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Silver Succeeded?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.silverResult.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start Gold Job"
        }
      ],
      "Default": "Notify Failure"
    },

    "Start Gold Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync:2",
      "Parameters": {
        "JobName": "nyc-tlc-gold-job-dev"
      },
      "ResultPath": "$.goldResult",
      "Next": "Gold Succeeded?",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Gold Succeeded?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.goldResult.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Run Silver Crawler"
        }
      ],
      "Default": "Notify Failure"
    },

    "Run Silver Crawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startCrawler.sync:2",
      "Parameters": {
        "Name": "nyc-tlc-dev-silver-crawler"
      },
      "ResultPath": "$.silverCrawlerResult",
      "Next": "Run Gold Crawler",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Run Gold Crawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startCrawler.sync:2",
      "Parameters": {
        "Name": "nyc-tlc-dev-gold-crawler"
      },
      "ResultPath": "$.goldCrawlerResult",
      "Next": "Log Audit Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Log Audit Success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-audit-logger",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Execution Success",
          "time.$": "$$.Execution.StartTime",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "SUCCEEDED",
            "jobRunId.$": "$$.Execution.Name",
            "startedOn.$": "$$.Execution.StartTime",
            "completedOn.$": "$$.State.EnteredTime",
            "message": "All pipeline stages completed successfully"
          }
        }
      },
      "ResultPath": "$.auditResult",
      "Next": "Notify Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Success"
        }
      ]
    },

    "Notify Success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-notifier",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Notification",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "SUCCEEDED",
            "jobRunId.$": "$$.Execution.Name",
            "message": "✅ NYC TLC Pipeline completed successfully — Bronze → Silver → Gold → Catalog updated"
          }
        }
      },
      "ResultPath": "$.notifyResult",
      "Next": "Pipeline Succeeded",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Pipeline Succeeded"
        }
      ]
    },

    "Notify Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-notifier",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Notification",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "FAILED",
            "jobRunId.$": "$$.Execution.Name",
            "message.$": "States.Format('❌ NYC TLC Pipeline FAILED — Error: {}', States.JsonToString($.error))"
          }
        }
      },
      "ResultPath": "$.notifyResult",
      "Next": "Log Audit Failure",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Pipeline Failed"
        }
      ]
    },

    "Log Audit Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-audit-logger",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Execution Failure",
          "time.$": "$$.Execution.StartTime",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "FAILED",
            "jobRunId.$": "$$.Execution.Name",
            "startedOn.$": "$$.Execution.StartTime",
            "completedOn.$": "$$.State.EnteredTime",
            "message.$": "States.Format('Pipeline failed — {}', States.JsonToString($.error))"
          }
        }
      },
      "ResultPath": "$.auditResult",
      "Next": "Pipeline Failed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Pipeline Failed"
        }
      ]
    },

    "Pipeline Succeeded": {
      "Type": "Succeed",
      "Comment": "All stages completed — Bronze → Silver → Gold → Catalog → Audit → Notified"
    },

    "Pipeline Failed": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline stages failed. Check CloudWatch logs for details."
    }

  }
}
