stepfunctions/pipeline.json
{
  "Comment": "NYC TLC Medallion Pipeline — Bronze → Silver → Gold → Audit → Notify",
  "StartAt": "Start Bronze Job",

  "States": {

    "Start Bronze Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "nyc-tlc-bronze-job-dev"
      },
      "ResultPath": "$.bronzeResult",
      "Next": "Start Silver Job",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Start Silver Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "nyc-tlc-silver-job-dev"
      },
      "ResultPath": "$.silverResult",
      "Next": "Start Gold Job",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Start Gold Job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "nyc-tlc-gold-job-dev"
      },
      "ResultPath": "$.goldResult",
      "Next": "Log Audit Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Failure"
        }
      ]
    },

    "Log Audit Success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-audit-logger",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Execution Success",
          "time.$": "$$.Execution.StartTime",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "SUCCEEDED",
            "jobRunId.$": "$$.Execution.Name",
            "startedOn.$": "$$.Execution.StartTime",
            "completedOn.$": "$$.State.EnteredTime",
            "message": "All pipeline stages completed successfully"
          }
        }
      },
      "ResultPath": "$.auditResult",
      "Next": "Notify Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Notify Success"
        }
      ]
    },

    "Notify Success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-notifier",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Notification",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "SUCCEEDED",
            "jobRunId.$": "$$.Execution.Name",
            "message": "NYC TLC Pipeline completed — Bronze → Silver → Gold done"
          }
        }
      },
      "ResultPath": "$.notifyResult",
      "Next": "Pipeline Succeeded",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Pipeline Succeeded"
        }
      ]
    },

    "Notify Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-notifier",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Notification",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "FAILED",
            "jobRunId.$": "$$.Execution.Name",
            "message": "NYC TLC Pipeline FAILED — check CloudWatch logs"
          }
        }
      },
      "ResultPath": "$.notifyResult",
      "Next": "Log Audit Failure",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Pipeline Failed"
        }
      ]
    },

    "Log Audit Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:519749210589:function:nyc-tlc-audit-logger",
        "Payload": {
          "source": "aws.stepfunctions",
          "detail-type": "Pipeline Execution Failure",
          "time.$": "$$.Execution.StartTime",
          "detail": {
            "jobName": "nyc-tlc-medallion-pipeline",
            "state": "FAILED",
            "jobRunId.$": "$$.Execution.Name",
            "startedOn.$": "$$.Execution.StartTime",
            "completedOn.$": "$$.State.EnteredTime",
            "message": "Pipeline failed"
          }
        }
      },
      "ResultPath": "$.auditResult",
      "Next": "Pipeline Failed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Pipeline Failed"
        }
      ]
    },

    "Pipeline Succeeded": {
      "Type": "Succeed",
      "Comment": "All stages completed — Bronze → Silver → Gold → Audit → Notified"
    },

    "Pipeline Failed": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline stages failed. Check CloudWatch logs."
    }

  }
}
